h1{
    text-align: center;
    color: orange;
}
.Form{
    width: 700px;
    margin: auto;
    text-align: center;
}
.Form-Item{
    border-top: solid black 1px;
    padding: 30px;
    text-align: right;
}
.Form-Item-Label{
    font-weight: bold;
    margin: auto;
    float: left;
}
.Form-Item-Input{
    background-color: rgb(255, 212, 133);
    text-align: left;
    width: 400px;
    height: 30px;
    padding: 5px;
    border: solid 1px orange;
    border-radius: 6px;
}
.Form-Item-Textarea{
    background-color: rgb(255, 212, 133);
    width: 400px;
    height: 200px;
    padding: 5px;
    border: solid 1px orange;
    border-radius: 6px;
}
.Form-Item-Label-Required{
    padding: 1px 1px;
    margin: 1px 0;
    color: white;
    background-color: orange;
    border: solid 1px orange;
    border-radius: 6px;
}
.Form-Btn-Free{
    font-weight: bold;
    padding: 1px 1px;
    margin: 1px 0;
    color: white;
    background-color: #808080;
    border: solid 1px #808080;
    border-radius: 6px;
}
.Form-Btn{
    font-weight: bold;
    padding: 15px 100px;
    margin: 0;
    color: white;
    background-color: orange;
    border: solid 1px orange;
    border-radius: 6px;
}

